
        
        
        
@font-face {
    font-family: CatchyMager;
    src: url(font/Catchy\ Mager.ttf);
  }        
        .everything {
            margin: 0;
            padding: 0;
            font-family: CatchyMager, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .container {
            position: relative;
            text-align: center;
            color: white;
        }
        .overlay {
            background: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
        }
        h1 {
            font-family: CatchyMager, sans-serif;
            margin: 0;
            font-size: 1.5rem;
            color: white
        }
        h2 {
            font-family: CatchyMager, sans-serif;
            margin: 5px;
            font-size: 4rem;
            color: white
        }
        .button {
            margin-top: 10px;
            padding: 10px 20px;
            background: white;
            color: black;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            border-radius: 5px;
            transition: 0.3s;
        }
        .learn-more {
            padding: 10px 20px;
            background: white;
            color: black;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            border-radius: 5px;
            transition: 0.3s;
            margin-top: 100px;
        }
        .learn-more:hover {
            background: gray;
            color: white;
        }
        .background-image
        {
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100%;
            position: absolute;
            z-index: -1;
        }
        .navbar {
            list-style: none; /* Remove default bullet points */
                margin: 0; /* Remove default margin */
                padding: 0; /* Remove default padding */
                width: 100%;
                height: 60px;
                background-color: #ffc30b;
                display: flex;
                align-items: center; /* Vertically center items */
                justify-content: left; /* Aligns items to the left */
            }
            
            .navbar a {
                font-size: 1.5rem;
                display: block;
                color: white;
                text-decoration: none;
                padding: 14px 20px;
                font-size: 18px;
            }
            .navbar a:hover {
                background-color: #444;
                border-radius: 5px;
            }
            html, body {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }
            .navbar li {
                display: inline-block; /* Aligns list items in a row */
            }
            .navbar .logo {
                margin-left: 10px; /* Add some spacing to the left */
            }
            
            .navbar-logo {
                height: 30px; /* Adjust the height of the logo */
                width: auto; /* Maintain aspect ratio */
            }
            
